.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.splitContent {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0 var(--space);
}

.goalsTable {
    display: flex;
    flex-direction: column;
    gap: var(--space);
    padding-right: var(--space);
    padding-bottom: var(--space);
    overflow-y: scroll;
    height: calc(100vh - 128px);
}

.sideSection {
    height: inherit;
    display: flex;
    flex-direction: column;
}
.sideSection > h1 {
    margin-top: calc(var(--space) * 3);
    padding-bottom: calc(var(--space)/3);
}

.overallBar {
    height: inherit;
    padding-bottom: calc(var(--space) * 2);
}
