div {
    width: inherit;
}

div .paper {
    background-color: var(--container-background);
    min-height: calc(var(--space) * 2);
    border-radius: calc(var(--space));
    color: var(--text-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: var(--space);
    width: inherit;
}

.goalInnerWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.goalName {
    text-align: left;
}
